# ==============================================================================
# Project Dependencies
# Author: Amirhossein Mousavi
# 
# Description:
# Lists the external Python packages required to run the IOC Checker tool.
# Install these dependencies using: pip install -r requirements.txt
# ==============================================================================

requests>=2.31.0
rich>=13.7.0
python-dotenv>=1.0.0
pyfiglet>=1.0.2
tldextract>=5.1.1
pyinstaller>=6.3.0